
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginPartialView.cshtml";
}

<h2>@ViewBag.name @ViewBag.lastname</h2>

<a href="/Student/Account?name=@ViewBag.name&lastname=@ViewBag.lastname&username=@ViewBag.username&email=@ViewBag.email&birthdate=@ViewBag.birthdate" class="btn btn-primary">Öğrenci Bilgileri</a>

<a href="/Student/Notes" class="btn btn-primary">Sınav Notları</a>



